.error404 {
    .site-content {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2%;
    }
    .not-found {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .error-logo {
        background: url(../../images/full-logo.svg) no-repeat;
        margin-left: 2rem;
        height: 200px;
        width: 400px;
        background-size: 100%;
    }
}