.post-type-archive-projects {
    .project-content {
        text-align: center;
        @include media($desktop-width) {
            max-width: 1120px;
            margin: 0 auto;
        }
    }
    .project-post {
        margin-bottom: 3rem;
    }
    .proj-head {
        background-color: #d9f1ff;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media($desktop-width) {
            flex-direction: row;
            align-items: center;
        }
        p {
            margin: 0;
        }
        .name {
            font-size: 1.5rem;
            font-weight: bold;
            @include media($desktop-width) {
                font-size: 1rem;
            }
        }
        .status {
            text-transform: uppercase;
        }
        .break {
            display: none;
            @include media($desktop-width) {
                display: initial;
                font-size: 1.5rem;
                font-weight: 500;
                margin: 0 0.5rem;
            }
        }
    }
    .img-container {
        margin: 2rem 2rem 3rem;
        @include media($desktop-width) {
            max-width: 750px;
            margin: 2rem auto 3rem auto;
        }
    }
    .project-image {
        width: 100%;
    }
    .project-link {
        text-decoration: none;
        color: black;
        border: 2px solid black;
        padding: 1rem 3.5rem;
        text-transform: uppercase;
    }
}