.page-id-196 {
    #content {
        width: 100%;
    }
    .header-text {
        @include header-text;
    }
    .entry-title {
        @include page-title;
    }

    .banner-text {
        @include banner-text;
    }

    .intro-copy {
        @include intro-copy;
    }
    .page-header-container {
        background-color: $color__brand-blue;
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
    }
    .page-title {
        font-weight: $font__bold;
        font-size: 1.8rem;
        color: $color__header-main;
        text-transform: uppercase;
        margin: 0;
    }
    .job-container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        line-height: $line-height-desktop;
    }
    .job-post {
        margin: 0 10%;
        border-bottom: 1px solid black;
        padding-bottom: 2rem;
    }
    .job-post:last-child {
        border-bottom: none;
    }
    .job-title {
        font-weight: $font__bold;
        font-size: 1.5rem;
        text-align: center;
        color: $color__text-main;
        text-transform: uppercase;
        margin: 2rem auto;

        @include media( $desktop-width ) {
            font-size: 1.7rem;
            line-height: 2rem;
        }
    }
    .role-container {
        font-family: $font__secondary;
        font-size: 1.2rem;
        margin-bottom: 3rem;
        @include media ($desktop-width){
            font-size: 1.4rem;
        }
        p{
            margin-top: 0;
        }
    }
    .role {
        text-transform: uppercase;
        font-weight: $font__bold;
    }
    .resp-container {
        font-family: $font__secondary;
        width: 100%;
        max-width: 850px;
        margin: 0 auto;
        font-size: 1.2rem;
        margin-bottom: 4rem;
        @include media ($desktop-width){
            font-size: 1.4rem;
        }
        ul {
            margin-left: 0;
        }
        p{
            margin-top: 0;
        }
    }
    .responsibilities {
        text-transform: uppercase;
        font-weight: $font__bold;
    }
    .role, .responsibilities {
        margin-bottom: 0.5rem;

        @include media( $desktop-width ) {
            margin-bottom: 0.8rem;
        }
    }
    .navigation-button {
        @include navigation-button();
    }
}
