.page-id-196 {
    #content {
        width: 100%;
    }
        .entry-title {
            @include page-title;
        }

        .banner-text {
            @include banner-text;
        }

    .intro-copy {
        @include intro-copy;
    }
    .page-header-container {
        background-color: $color__brand-blue;
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
    }
    .page-title {
        font-weight: $font__bold;
        font-size: 1.8rem;
        color: $color__header-main;
        text-transform: uppercase;
        margin: 0;
    }
    .job-container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .job-post {
        margin: 0 10%;
        border-bottom: 1px solid black;
        padding-bottom: 6rem;
    }
    .job-post:last-child {
        border-bottom: none;
    }
    .job-title {
        font-weight: $font__bold;
        font-size: 1.3rem;
        text-align: center;
        color: $color__text-main;
        text-transform: uppercase;
        margin: 2rem 0;
    }
    .role-container {
        font-family: $font__secondary;
        font-size: 1.3rem;
        margin-bottom: 3rem;
        p{
            margin-top: 0;
        }
    }
    .role {
        text-transform: uppercase;
        font-weight: $font__bold;
        margin-bottom: 0;
    }
    .resp-container {
        font-family: $font__secondary;
        width: 100%;
        max-width: 850px;
        margin: 0 auto;
        font-size: 1.3rem;
        margin-bottom: 4rem;
        ul {
            margin-left: 0;
        }
        p{
            margin-top: 0;
        }
    }
    .responsibilities {
        text-transform: uppercase;
        font-weight: $font__bold;
        margin-bottom: 0;
    }
    .link-container{
        text-align: center
    }
    .contact-link {
        font-weight: $font__bold;
        text-decoration: none;
        color: $color__header-main;
        border: 2px solid $color__header-main;
        padding: 1rem 3.5rem;
        text-transform: uppercase;
        @include media($desktop_width){
            padding: 1rem 4rem;
        }
    }
}