.page-id-18 {
    height: 100%;
    width: 100%;
    @include media($desktop-width) {
        font-size: $font__desktop-size;
        line-height: $line-height-desktop;
    }
    .header-text {
        @include header-text;
        max-width: 900px;
        padding: 0 10px;
    }
    .entry-title {
        @include page-title;
    }
    .banner-text {
        @include banner-text;
    }
    .intro-copy {
        @include intro-copy;
    }
    .main-copy_container {
        @include main-copy;
        text-align: center;
    }
    .navigation-button {
        @include navigation-button();
        margin-top: 5px;
    }
    .infographic-container+.navigation-button {
        margin: 3rem auto 6rem;
    }
    .supporters-header {
        font-size: 1.55rem;
        @include media($desktop-width) {
            font-size: 1.85rem;
        }
    }
    .content-container {
        padding: 0 1rem;
        .partners-information-container {
            @include media($desktop-width) {
                @include flex-row(wrap, space-between, baseline);
                padding: 0 7rem 0 9rem;
            }
            .partners-information {
                height: auto;
                margin: 0 0 4rem;
                @include media($desktop-width) {
                    width: 490px;
                    margin: 0 auto;
                    display: inline-block;
                }
            }
            .small-header {
                margin-top: 4rem;
                margin-bottom: 1.25rem;
                font-size: 1.75rem;
                font-weight: $font__bold;
                color: $color__text-main;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                @include media($desktop-width) {
                    margin: 1.9rem 0 0.5rem;
                    font-size: 2rem;
                    padding-left: 7%;
                    text-align: left;
                }
            }
            li+.small-subheader {
                margin-top: 3rem;
            }
            .small-subheader {
                margin: 0.5rem 0 1.5rem;
                font-weight: $font__bold;
                text-transform: uppercase;
                @include media($desktop-width) {
                    font-size: 1.45rem;
                    margin-bottom: 2rem;
                }
            }
            .collaborate-dashed-list {
                font-family: $font__secondary;
                margin: 0 0 2rem;
                padding-left: 0.75rem;
                list-style-type: none;
                position: relative;
                font-size: 20px;
                @include media($desktop-width) {
                    font-size: 16px;
                    height: auto;
                    margin: 0;
                    padding: 0.5rem 0.5rem 2.5rem 2rem;
                    border: 5px solid $color__brand-blue;
                    display: inline-block;
                }
                li {
                    margin: 1.5rem 0;
                    @include flex-row(nowrap, flex-start, baseline);
                    .hyphen {
                        height: 100%;
                        padding-right: 0.5rem;
                        font-size: 0.85rem;
                        font-weight: $font__bold;
                        position: relative;
                        bottom: 0.2rem;
                    }
                    @include media($desktop-width) {
                        font-size: $font__desktop-size;
                    }
                }
                .key-graphic-1 {
                    height: 227px;
                    width: 109px;
                    background: url("../../images/graphics/key.svg") no-repeat 50%;
                    background-size: 100%;
                    position: absolute;
                    bottom: 1.25%;
                    left: -4%;
                    z-index: -99999;
                    transform: rotate(25deg);
                    @include media($desktop-width) {
                        height: 186px;
                        width: 88px;
                        bottom: 27.25%;
                        left: 4.5%;
                    }
                }
                .key-graphic-2 {
                    height: 100px;
                    width: 58px;
                    background: url("../../images/graphics/key.svg") no-repeat;
                    background-size: 100%;
                    position: absolute;
                    bottom: -3%;
                    right: -1.25%;
                    z-index: -99999;
                    transform: rotate(-25deg);
                    @include media($desktop-width) {
                        height: 135px;
                        width: 114px;
                        bottom: 9%;
                        left: 83.75%;
                    }
                }
                .dollar-sign-graphic-1 {
                    height: 129px;
                    width: 122px;
                    left: 0%;
                    background: url("../../images/graphics/dollar-sign.svg") no-repeat;
                    background-size: 100%;
                    position: absolute;
                    bottom: 13%;
                    z-index: -99999;
                    @include media($desktop-width) {
                        bottom: 32%;
                        left: 2%;
                    }
                }
                .dollar-sign-graphic-2 {
                    height: 87px;
                    width: 82px;
                    background: url("../../images/graphics/dollar-sign.svg") no-repeat;
                    background-size: 100%;
                    position: absolute;
                    bottom: -1%;
                    right: -2%;
                    z-index: -99999;
                    display: inline-block;
                    @include media($desktop-width) {
                        bottom: 2%;
                        left: 81%;
                    }
                }
            }
            li+.partners-text {
                margin-top: 3.75rem;
            }
            .partners-text {
                height: auto;
                width: 100%;
                margin: $base__space-unit auto;
                font-weight: 100;
                text-align: center;
                @include media ($desktop-width) {
                    width: 330px;
                    padding: 2rem 0 0;
                    transform: translateX(-1rem);
                    font-size: 21px;
                    margin-top: 7.5rem;
                }
            }
            .partners-text-2 {
                margin-top: 2.8rem;
                padding-top: 0;
                @include media ($desktop-width) {
                    font-size: 21px;
                    margin-top: 7.5rem;
                }
            }
        }
    }
    .infographic-container {
        height: auto;
        width: 100%;
        padding: 0.5rem 0 1.5rem;
        text-align: center;
        @include flex-column(nowrap,
        center,
        center);
        position: relative;
        .business-model-diagram {
            height: auto;
            width: 95%;
            @include media ($desktop-width) {
                height: 530px;
            }
        }
        .key-graphic-1 {
            display: none;
            @include media($desktop-width) {
                width: 85px;
                position: absolute;
                top: 15%;
                left: 16%;
                opacity: .5;
                transform: rotate(25deg);
                display: inline;
            }
        }
        .key-graphic-2 {
            display: none;
            @include media($desktop-width) {
                width: 55px;
                position: absolute;
                top: 19.5%;
                left: 18.75%;
                transform: rotate(-25deg);
                display: inline;
            }
        }
        .dollar-sign-graphic-1 {
            display: none;
            @include media($desktop-width) {
                position: absolute;
                top: 14%;
                right: 16%;
                opacity: 0.5;
                display: inline;
            }
        }
        .dollar-sign-graphic-2 {
            display: none;
            @include media($desktop-width) {
                width: 65px;
                position: absolute;
                top: 25%;
                right: 19%;
                display: inline;
            }
        }
        .green-line-graphic-1 {
            display: none;
            @include media($desktop-width) {
                height: auto;
                width: 150px;
                position: absolute;
                top: 9.75rem;
                left: 24.35%;
                transform: rotate(-117deg);
                display: inline;
            }
        }
        .green-line-graphic-2 {
            display: none;
            @include media($desktop-width) {
                height: auto;
                width: 150px;
                position: absolute;
                top: 9.55rem;
                left: 65.5%;
                transform: rotate(-3deg);
                display: inline;
            }
        }
    }
    .supporters-logo-container {
        height: auto;
        width: 75%;
        margin: 0 auto;
        padding: 4% 9%;
        @include flex-row(wrap,
        center,
        center);
        @include media($desktop-width) {
            padding: 0 0 3rem;
            width: 750px;
        }
        .sponsor-logo {
            height: 40px;
            width: auto;
            margin: 5%;
            @include grayscale-image;
            @include media($desktop-width) {
                height: 30px;
                margin: $base__space-unit 2.5rem;
            }
            &:first-child {
                @include media($desktop-width) {
                    margin: 3rem;
                    margin-bottom: 2rem;
                }
            }
            &:nth-child(2) {
                @include media($desktop-width) {
                    height: 50px;
                    margin: 3rem;
                    margin-bottom: 2rem;
                }
            }
            &:nth-child(3) {
                @include media($desktop-width) {
                    margin: 3rem;
                    margin-bottom: 2rem;
                }
            }
            &:nth-child(4) {
                filter: grayscale(100%) invert(10%);
                @include media($desktop-width) {
                    height: 45px;
                    margin: 3rem;
                    margin-bottom: 2rem;
                }
            }
            &:nth-child(5) {
                height: 35px;
                @include media($desktop-width) {
                    margin: 1rem;
                    margin-left: 0;
                    filter: grayscale(100%) invert(15%);
                }
            }
            &:nth-child(6) {
                height: 100px;
                filter: grayscale(100%) invert(1%);
                @include media($desktop-width) {
                    margin: 1rem;
                    height: 110px;
                    filter: grayscale(80%) saturate(15%);
                }
            }
            &:nth-child(7) {
                @include media($desktop-width) {
                    margin: 1rem;
                }
            }
            &:nth-child(8) {
                @include media($desktop-width) {
                    margin: 1rem;
                }
            }
            &:nth-child(9) {
                @include media($desktop-width) {
                    margin: 1rem;
                    margin-right: 0;
                }
            }
        }
    }
}