.page-template-collaborate {
    height: 100%;
    width: 100%;
    @include media($desktop-width) {
        font-size: $font__desktop-size;
        line-height: $line-height-desktop;
    }

    .entry-title {
        text-align: center;
    }

    .intro-copy {
        height: auto;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 0.85rem;
        font-weight: 100;
        text-align: center;
        @include media($desktop-width) {
            width: 60%;
        }
    }

    .main-copy {
        height: auto;
        width: 100%;
        margin: 0 auto;
        padding: 0.55rem 0;
        font-weight: 100;
        text-align: center;
        @include media($desktop-width) {
            width: 75%;
            padding: 0.75rem auto;
        }
    }

    .navigation-button {
        @include navigation-button();
    }

    .blue-background {
        height: auto;
        width: 100%;
        margin: 0.75rem auto;
        padding: 0.75rem 0.5rem;
        background-color: $color__brand-blue;
        text-align: center;
        @include media($desktop-width) {
            margin: 1.5rem auto;
            padding: 1.5rem 0.5rem;
        }

        h2 {
            max-width: 400px;
            margin: 0 auto;
            font-size: 2rem;
            font-weight: 400;
            color: $color__header-main;
            line-height: 2.4rem;
            text-transform: uppercase;
            @include media($desktop-width) {
                max-width: none;
                font-size: 3rem;
            }
        }

        .supporters-header {
            font-size: 1.55rem;
        }
    }

   .content-container {
       padding: 0 1rem;

        .partners-information-container {
            padding: 0 10rem 0 12rem;
            @include media($desktop-width) {
                @include flex-row(wrap, space-between, baseline);
            }
            .partners-information {
            height: auto;
            margin: 0 0 6rem;
            @include media($desktop-width) {
                width: 490px;
                margin: 0;
                display: inline-block;
            }
        }

            .small-header {
                margin-top: 4rem;
                margin-bottom: 1.25rem;
                font-size: 1.75rem;
                font-weight: 400;
                color: $color__text-main;
                text-align: center;
                text-transform: uppercase;
                @include media($desktop-width) {
                    margin: 1.9rem 0 0.5rem;
                    font-size: 2rem;                   
                    padding-left: 7%;
                    text-align: left;
                }
            }

            li + .small-subheader {
                margin-top: 3rem;
            }

            .small-subheader {
                margin: 0.5rem 0 1.5rem;
                font-size: 1.1rem;
                font-weight: 400;
                text-transform: uppercase;
                @include media($desktop-width) {
                    font-size: 1.45rem;
                    margin-bottom: 2rem;
                }
            }

            .collaborate-dashed-list {
                margin: 0 0 2rem;
                padding-left: 0.75rem;
                list-style-type: none;
                @include media($desktop-width) {
                    height: 1000px;
                    margin: 0;
                    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
                    border: 5px solid $color__brand-blue;
                    display: inline-block;
                }

                li {
                    margin: 1.5rem 0;
                    font-weight: 100;
                    @include flex-row(nowrap, flex-start, baseline);

                    .hyphen {
                        height: 100%;
                        padding-right: 0.5rem;
                        font-size: 0.85rem;
                        font-weight: bold;
                        position: relative;
                        bottom: 0.2rem;
                    }
                    @include media($desktop-width) {
                        font-size: $font__desktop-size;
                    }
                }
            }

            .partners-text {
                height: auto;
                width: 100%;
                margin: 0 auto;
                padding: 0 1rem;
                font-weight: 100;
                text-align: center;
            }
        }

        .infographic-container {
            height: 200px;
            width: 100%;
            @include flex-column(nowrap, center, center);
            background-color: blue;
        }
    }

    .supporters-logo-container {
        height: 200px;
        width: 100%;
        background-color: blue;
        @include flex-row(wrap, flex-start, center);
    }
}