.page-id-7 {
    text-align: center;
    height: 100%;
    width: 100%;
    @include media($desktop-width) {
        font-size: $font__desktop-size;
        line-height: $line-height-desktop;
    }
    .header-text {
        @include header-text;
    }
    .entry-title {
        @include page-title;
    }
    .banner-text {
        width: 95%;
        @include banner-text;
    }
    .banner-text-small {
        font-size: 0.9rem;
        @include media($desktop-width){
            font-size: 1rem;
        }
    }
    .blue-background-header {
        margin-top: 1.5rem;
    }
    .intro-copy {
        @include intro-copy ;

        a {
            color: $color__menu-active;

            &:hover {
                color: $color__menu-hover;
            }
        }
    }
    .renters-redirect {
        padding: 0 1rem;
        max-width: 1200px;
        margin: 0 auto;
    }
    .wpcf7 {
        padding: 0 3%;
        font-family: $font__secondary;
        form {
            margin: 0 auto 2rem;
            background-color: $color__brand-blue;
            padding: 0.5rem 1rem;
            @include media($desktop-width) {
                max-width: 1000px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0.5rem 2rem;
            }
            span.wpcf7-not-valid-tip {
                margin-top: 0.75rem;
            }

            p:nth-child(2),
            p:nth-child(3),
            p:nth-child(4),
            p:nth-child(5){
                @include media($desktop-width){
                    width: 48%;
                }
            }
            p:nth-child(6),
            p:nth-child(7),
            p:nth-child(8) {
                @include media($desktop-width) {
                    flex-basis: 100%;
                }
            }
            p:nth-child(9) {
                flex-basis: 100%;
                margin: 0 auto;
            }
            .wpcf7-form-control-wrap {
                margin: 0 auto;
            }
            p:nth-child(11) {
                width: 100%;       
            }

        }
        input {
            width: 100%;
            height: 50px;
            padding-left: 1rem;
            border: none;
            font-style: italic;
        }
        .radio {
            display: flex;
            flex-direction: column;
            @include media($desktop-width) {
                flex-direction: row;
                justify-content: center;
            }
            input {
                width: 1rem;
            }
            .wpcf7-list-item {
                display: flex;
                align-items: center;
            }
            .wpcf7-list-item-label {
                font-size: 1rem;
                text-transform: uppercase;
                margin-left: 1rem;
            }
        }
        .other-option {
            display: flex;
            justify-content: space-between;
            span {
                display: inline-block;
                vertical-align: middle;
            }
            .Other {
                width: 100%;
            }
        }
        .radio-blurb {
            text-align: left;
            font-style: italic;
            opacity: 0.5;
            font-size: 1rem;
            @include media ($desktop-width){
                font-size: 1.3rem;
            }
        }
        .radios {
            @include media ($desktop-width){
                display: flex;
                margin: 0 auto;
            }
        }
        .wpcf7-textarea {
            padding-left: 1rem;
            padding-top: 1rem;
            width: 100%;
            height: 30vh;
            border: none;
            font-style: italic;
        }
        .wpcf7-submit {
            width: 200px;
            font-family: $font__main;
            font-weight: $font__bold;
            background-color: #fff;
            border: 2px solid $color__header-main;
            font-size: 1rem;
            height: 60px;
            font-style: normal;
            margin: 0 auto 1.5rem;
            text-transform: uppercase;
        }
    }
    .navigation-button {
        @include navigation-button();
        margin-top: 5px;
    }
}
