.page-template-default {
    text-align: center;
    .contact-title {
        background-color: $color__brand-blue;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        h3 {
            width: 350px;
            margin: 0 auto;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media($desktop-width) {
                width: 100%;
            }
        }
    }
    .wpcf7 {
        padding: 3%;
        form {
            margin: 0 auto;
            background-color: $color__brand-blue;
            padding: 0.5rem 1rem;
            @include media($desktop-width) {
                max-width: 1000px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0.5rem 2rem;
                p {
                    flex-basis: 48%;
                }
            }
            p:nth-child(6),
            p:nth-child(7),
            p:nth-child(8) {
                @include media($desktop-width) {
                    flex-basis: 100%;
                }
            }
            p:nth-child(9) {
                flex-basis: 100%;
                margin: 0 auto;
            }
        }
        input {
            width: 100%;
            height: 50px;
            padding-left: 1rem;
            border: none;
            font-style: italic;
        }
        .radio {
            display: flex;
            flex-direction: column;
            @include media($desktop-width) {
                flex-direction: row;
                justify-content: center;
            }
            input {
                width: 1rem;
            }
            .wpcf7-list-item {
                display: flex;
                align-items: center;
            }
            .wpcf7-list-item-label {
                font-size: 1.1rem;
                text-transform: uppercase;
                margin-left: 1rem;
            }
        }
        .wpcf7-text textarea {
            padding-left: 1rem;
            padding-top: 1rem;
            width: 100%;
            height: 70vh;
            border: none;
            font-style: italic;
        }
        .wpcf7-submit {
            width: 200px;
            background-color: #fff;
            border: 1px solid #000;
            font-size: 1rem;
            height: 60px;
            font-style: normal;
            margin: 0 auto 1.5rem;
        }
    }
}