.footer {
    margin: 0 auto;
    background-color: $color__brand-blue;
    text-align: center;
    width: 100%;
<<<<<<< HEAD
    @media all and (min-width: $width) {
=======
    @include media($desktop-width) {
>>>>>>> 34779e15a6fe7d5d82175d165d64b9053e420db9
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        justify-content: center;
    }
    .footer-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 400px;
    }
    .footerLogo {
<<<<<<< HEAD
        background: url('../../images/footersample.png')no-repeat;
=======
        background: url('../../images/catalyst-footer-logo.png')no-repeat;
>>>>>>> 34779e15a6fe7d5d82175d165d64b9053e420db9
        background-size: 100%;
        width: 20px;
    }
    .page-link {
        visibility: hidden;
        height: 10px;
        text-transform: uppercase;
        font-size: 12px;
        a{
            text-decoration: none;
            color: $color__text-main;
            margin-right: 20px;
        }
<<<<<<< HEAD
        @media all and (min-width: $width) {
=======
        @include media($desktop-width) {
>>>>>>> 34779e15a6fe7d5d82175d165d64b9053e420db9
            visibility: visible;
        }
    }
    .sns-icon {
<<<<<<< HEAD
        @media all and (min-width: $width) {
=======
       @include media($desktop-width) {
>>>>>>> 34779e15a6fe7d5d82175d165d64b9053e420db9
            margin-left: 30px;
        }
    }
    .company-info {
        h3 {
            font-size: 16px;
            margin: 0;
            height: 25px;
            text-transform: uppercase;
        }
        p {
            font-size: 12px;
            height: 20px;
            margin: 0;
        }

    }
}