.footer {
    margin: 0 auto;
    background-color: $color__brand-blue;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    @include media($desktop-width) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-title {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        min-width: 320px;
    }
    .footerLogo {
        background: url('../../images/logo.svg')no-repeat;
        background-size: 100%;
        width: 20px;
    }
    .twitter {
        background: url('../../images/twitter.svg')no-repeat;
        background-size: 100%;
        height: 50px;
        width: 50px;
    }
    .linkedin {
        background: url('../../images/linkedin.svg')no-repeat;
        background-size: 100%;
        height: 50px;
        width: 50px;
    }
    .page-link {
        visibility: hidden;
        height: 10px;
        text-transform: uppercase;
        font-size: 12px;
        @include media($desktop-width) {
            padding-top: 20px;
            margin-right: 10px;
        }
        a {
            text-decoration: none;
            font-weight: bold;
            color: $color__text-main;
            margin-right: 20px;
        }
        @include media($desktop-width) {
            visibility: visible;
        }
    }
    .sns-icon {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        p {
            margin-right: 10px;
        }
        @include media($desktop-width) {
            margin-left: 30px;
            justify-content: space-between;
        }
    }
    .company-info {
        h3 {
            font-size: 12px;
            margin: 0;
            height: 25px;
            text-transform: uppercase;
         @include media($desktop-width) {
             font-size: 20px;
         }
        }

        p {
            font-size: 12px;
            height: 20px;
            margin: 0;
        }
    }
}