.home {
    .front-content {
        margin-bottom: 50px;
    }
    .header-text {
        margin-top: 140px;
        position: absolute;
        color: white;
        text-align: center;
        width: 100%;
        h1 {
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 70px;
            line-height: 75px;
            padding: 0 80px;
            text-shadow: 2px 2px 5px black;
        }
        p {
            font-size: 30px;
        }
    }
    .home-hero {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.5) 100%), url('../../images/front-hero-sample.png') no-repeat center 100%;
        background-size: contain, cover;
        height: 700px;
    }
    h2 {
        text-transform: uppercase;
        font-size: 30px;
        background-color: $color__brand-blue;
        padding: 20px 0;
        text-align: center;
    }
    .readmore {
        text-align: center;
        margin: 20px 0;
        a {
            padding: 20px 50px;
            text-transform: uppercase;
            border: 3px solid black;
            text-decoration: none;
            color: black;
            text-decoration: none;
        }
    }
}