.home {
    p {
        font-size: $font__mobile-size;
        @include media ($desktop-width) {
            font-size: $font__desktop-size;
            line-height: $line-height-desktop;
        }
    }
    .intro-copy {
        @include intro-copy;
    }
    .hamburger-menu li {
        padding: 0 12px;
        font-size: 1.85rem;
        & a {
            padding: 20px 0 20px 10px;
        }
    }
    .hamburger-menu .sub-menu li a {
        padding-right: 12px;
    }
    .front-content {
        margin-bottom: 2rem;
    }
    .fp-carousel:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: linear-gradient( to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100% );
    }
    .fp-carousel {
        width: 100%;
        img {
            height: 100%;
            max-width: none;
            min-width: 100vw;
            max-height: none;
        }
    }
    .fp-img-container {
        width: 100%;
        height: 90vh;
    }
    .header-text {
        @include header-text;
        line-height: 1.2;
        position: absolute;
        top: 40%;
        left: 50% ;
        transform: translate(-50%, 0%);

        @include media( $desktop-width ) {
            top: 45%;
        }
        h1 {
            @include page-title;
            margin: 0 auto 2rem;
        }
        p {
            @include banner-text;
        }
    }
    .navigation-button {
        @include navigation-button();
    }
    .catalyst-formula-copy {
        max-width: 650px;
        padding: 0 2rem;
        margin: 2rem auto;
        text-align: $body-text-align;
        font-family: $font__secondary;
        @include media ($desktop-width) {
            margin: 4rem auto;
            line-height: $line-height-desktop;
        }
        @include media(1200px) {
            max-width: 860px;
        }
    }
    .projects {
        padding-bottom: 1rem;
        text-align: center;

        @include media( $desktop-width ) {
            padding-top: 2rem;
        }
        .our-projects-copy {
            max-width: 650px;
            margin: 2rem auto;
            padding: 0 2rem;
            text-align: $body-text-align;
            font-family: $font__secondary;
            @include media ($desktop-width) {
                margin: 3rem auto;
                line-height: $line-height-desktop;
            }
            @include media(1200px) {
                max-width: 860px;
            }
        }
        .project-name {
            margin: 0.75rem 0 0.5rem;
            font-weight: $font__bold;
        }
        .project-name {
            font-family: $font__main;
            font-weight: 800;
        }
        .project-status {
            max-width: 350px;
            margin: 0.5rem auto;

            @include media( $desktop-width ) {
                max-width: 450px;
            }
        }
        .quotes-wrapper {
            margin: 3rem auto 0;
            width: 100%;
            display: none;
            @include media( $desktop-width ) {
                margin: 5rem auto 0;
            }
        }
        .is-selected .quotes-wrapper {
            display: block;
        }
        .quote {
            max-width: 340px;
            margin: 0 auto;
            font-family: $font__secondary;
            font-weight: 700;
            font-style: italic;
            margin-top: 0;
            position: relative;

            @include media( 455px ) {
                max-width: 400px;
            }
            @include media( $desktop-width ) {
                max-width: none;
            }

            p {
                font-size: 1.5rem;
                line-height: 2.2rem;
                @include media($desktop-width) {
                    font-size: 2rem;
                    line-height: 2.75rem;
                }
            }
            .quote-target {
                height: 0;
                width: 0;
                position: relative;
            }
        }
        .left-quotation-mark,
        .right-quotation-mark {
            height: 36px;
            width: 50px;
            background: url('../../images/icon/quotation.svg') center;
            background-size: 275%;
            position: absolute;
            z-index: -1;
            display: none;
            @include media ($desktop-width) {
                height: 50px;
                width: 75px;
            }
        }
        .is-selected .left-quotation-mark,
        .is-selected .right-quotation-mark {
            display: inline-block;
        }
        .left-quotation-mark {
            top: -4px;
            left: -17px;
            @include media ($desktop-width) {
                left: -40px;
            }
            @include media ( 1400px ) {
                left: -50px;
            }
        }
        .right-quotation-mark {
            bottom: -6px;
            right: -17px;
            transform: rotate(180deg);
            @include media ($desktop-width) {
                right: -35px;
            }
             @include media ( 1400px ) {
                right: -40px;
            }
        }
        .quote-text {
            margin-bottom: 2rem;
        }
        .person {
            font-weight: $font__bold;
            margin: 0;
            color: $color__text-main;
            font-style: normal;
        }
        .person, .line {
            font-size: $font__desktop-size;
            margin: 0;
        }
        .line {
            font-size: 1.3rem;
            font-style: italic;
            font-weight: 400;
        }
        .other-proj-wrapper {
            width: 85%;
            margin: 0 0.5rem;
            opacity: 0.5;
            @include media ($desktop-width) {
                width: 50%;
            }
            .project-location,
            .project-status,
            .person,
            .line {
                margin: 0 auto;
            }
        }
        .image-wrapper {
            height: 300px;
            margin-bottom: $base__space-unit;
            overflow: hidden;
            @include media ($desktop-width) {
                height: 500px;
            }
            a {
                height: 300px;
                @include media($desktop-width){
                    height: 500px;
                }
            }
            img {
                width: auto;
                height: 100%;
                max-width: none;
                min-width: 100%;
            }
        }
        .is-selected {
            opacity: 1;
        }
    }
    .team {
        padding: 3rem 0 2rem;
        text-align: center;
        .member {
            margin: 0 2rem;
            width: 100%;
            max-width: 40%;
            opacity: 0.5;
            @include media ($desktop-width) {
                margin: 0 5rem;
                max-width: 25%;
            }
            img {
                border-radius: 50%;
                box-shadow: 0 2px 8px #D9F1FF;
            }
            p {
                margin: 0;
            }
            .member-name {
                font-size: 1.4rem;
                font-weight: $font__bold;
            }
            .position {
                font-style: italic;
                font-size: 1.2rem;
                font-weight: $font__semibold;
            }
        }
        .is-selected {
            opacity: 1;
        }
        .team-catalyst-copy {
            max-width: 650px;
            margin: 2rem auto;
            padding: 0 2rem;
            text-align: $body-text-align;
            font-family: $font__secondary;
            @include media ($desktop-width) {
                margin: 4rem auto;
                line-height: $line-height-desktop;
            }
            @include media(1200px) {
                max-width: 860px;
            }
        }
        .small-subheader {
            font-weight: $font__bold;
            font-size: 1.5rem;
            line-height: 1.8rem;
            width: 300px;
            margin: 2rem auto;
            text-transform: uppercase;
            @include media($desktop-width) {
                width: 100%;
                font-size: 2rem;
            }
        }
    }
    @include ourStory-carousel {
        .formula-text {
            width: 80%;
            @include media ($desktop-width) {
                display: none;
            }
        }
    }
}
