.hero-image-banner {
    position: relative;
    min-width: 100%;
    @include flex-column(nowrap, center, center);
    @include media($desktop-width) {
        height: 70vh;
    }
    .header-text {
        width: 100%;
        position: absolute;
        left: 0;
        text-align: center;
    }
}

.formulas:last-child {
    .fill {
        display: none;
    }
}

