.hero-image-banner,
.project-image-banner {
	height: auto;
	min-height: 45vh;
    min-width: 100%;
    @include flex-column(nowrap, center, center);
    @include media($desktop-width) {
        min-height: 70vh;
    }
    .header-text {
        width: 100%;
        text-align: center;
    }
}

.hero-image-banner {
	width: 100vw;
}

.formulas:last-child {
	.fill {
		display: none;
	}
}

.blue-background-header {
	height: auto;
	width: 100%;
	margin: 0 auto 1.5rem;
	padding: 0.75rem 1rem;
	background-color: $color__brand-blue;
	text-align: center;
	@include media($desktop-width) {
		margin: 0 auto 2.5rem;
		padding: 1rem 1.5rem;
	}
}


.subheader-lrg {
	max-width: 400px;
	margin: 0 auto;
	font-size: 1.85rem;
	font-weight: $font__bold;
	color: $color__header-main;
	line-height: 2.4rem;
	text-transform: uppercase;
	@include media($desktop-width) {
		max-width: none;
		font-size: 2.25rem;
		line-height: 3.4rem;
	}
}

.left-align {
	text-align: left;
}

.infographic-container {
	padding: 0 1rem;
}
.infographic-img {
	overflow: auto;
    width: 100%;
	img {
		min-width: 768px;
	}
}
