


.page-id-455 {
    h1 {
        display: none;
    }
    .blue-background-header {
        margin: 0 auto;
        margin-top: 15px;
    }
    .investor-list,
    .investor-p {
        padding: 1rem 1rem 1rem;
    }
}