.page-id-483{
    .hero-image-banner {
        margin-bottom: 2rem;
        @include media($desktop-width) {
            margin-bottom: 3rem;
        }
    }
    .header-text {
        @include header-text;
        h1 {
            @include page-title;
        }
        p {
            @include banner-text;
        }
    }
    h2{
        max-width: 900px;
    }
    p{
        font-family: $font__secondary;
        font-size: $font__mobile-size;
        line-height: $line-height-body;
        @include media($desktop-width) {
           font-size: $font__desktop-size;
           line-height: $line-height-desktop;
        }
    }
    ul{
        margin: 0;
        padding-left: 20px;
       @include media($desktop-width) {
           font-size: 24px;
        }

    }
    .site-main li {
        font-size: $font__mobile-size;
        font-family: $font__secondary;

        @include media ( $desktop-width ) {
            font-size: $font__desktop-size;
        }
    }
    .investor-list,
    .investor-p {
        padding: 0 2rem;
        max-width: 650px;
        margin: 0 auto;
        @include media(1200px) {
            max-width: 860px;
        }
    }
    .investor-p, .investor-list {
        margin-bottom: 2rem;

        @include media($desktop-width) {
            margin-bottom: 3rem;
        }
    }
    .investor-p:last-child {
        margin-bottom: 4rem;

        @include media( $desktop-width ) {
            margin-bottom: 5rem;
        }
    }
    .navigation-button {
        @include navigation-button;
    }
}
