// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
}

// Text decoration
@mixin header-text-shadow {
	text-shadow: 1px 2px 5px $color__header-main;
}

// Headings and boilerplate copy
@mixin header-text {
	max-width: 900px;
	color: white;
	padding: 0 1rem;
	line-height: 1;
}

@mixin page-title {
	margin-bottom: 1rem;
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: $font__normal;
	@include header-text-shadow;
	@include media($desktop-width) {
		margin-bottom: 2rem;
		font-size: 3.85rem;
		line-height: 4.25rem;
	}
}
@mixin banner-text {
	width: 90%;
	font-size: 1.25rem;
	font-family: $font__secondary;
	font-weight: $font__bold;
	margin: $base__space-unit auto;
	line-height: 1.75rem;
	letter-spacing: 2px;
	margin: 0 auto;
	@include header-text-shadow;
	@include media($desktop-width) {
		font-size: $font__desktop-size;
		line-height: $line-height-desktop;
	}
}

@mixin intro-copy {
	height: auto;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 2rem 1rem 2rem;
	font-size: $font__mobile-size;
	font-family: $font__secondary;
	text-align: center;
	@include media($desktop-width) {
		font-size: $font__desktop-size;
		padding: 2.75rem 0.85rem;
	}
	@include media(1200px) {
		max-width: 860px;
	}
}

@mixin main-copy {
	height: auto;
	max-width: 650px;
	margin: 0 auto;
	padding: 1rem;
	font-family: $font__secondary;
	font-size: $font__mobile-size;
	line-height: $line-height-body;
	text-align: center;
	@include media($desktop-width) {
		padding: 0.75rem auto;
		font-size: $font__desktop-size;
		line-height: $line-height-desktop;
	}
	@include media(1200px) {
		max-width: 860px;
	}
}

@mixin ourStory-carousel {
	.formula-carousel {
		width: 100%;
		text-align: center;
		.formulas {
			width: 270px;
			padding-left: 5%;
			display: block;
			@include media(1100px) {
				padding-left: 1.5%;
			}

			&:last-child .fill {
				display: none;
			}

			& div {
				height: 100%;
				display: flex;
			}
		}
		.img {
			vertical-align: middle;
			width: 85%;

			&:last-child {
				width: 77%;
			}
		}
		.fill {
			margin-left: 2rem;
			vertical-align: middle;
			@include media($desktop-width) {
				margin-left: 1rem;
			}
		}
		@include media ($desktop-width) {
			justify-content: center;
			display: flex;
		}
		&:after {
			content: 'flickity';
			display: none;
			@include media($desktop-width) {
				content: '';
			}
		}
		@content;
	}
}


/* Layouts*/

@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin flex-row($wrap: wrap, $justify-content: flex-start, $align-items: center) {
	display: flex;
	flex-flow: row $wrap;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin flex-column($wrap: wrap, $justify-content: flex-start, $align-items: center) {
	display: flex;
	flex-flow: column $wrap;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin grayscale-image {
	filter: grayscale(100%) invert(60%);
}

// Buttons
@mixin navigation-button($font-color: $color__header-main) {
	height: 70px;
	width: 275px;
	margin: 3rem auto;
	border: 2px solid $font-color;
	font-size: 1.35rem;
	color: $font-color;
	font-weight: $font__bold;
	text-transform: uppercase;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		border: 2px solid $color__brand-blue;
		box-shadow: 0px 2px 5px $color__header-main;
	}
	&:active {
		background: $color__brand-blue;
		border: 2px solid white;
		cursor: pointer;
	}
}

@mixin popout-button($background: none) {
	height: 35px;
	width: 35px;
	font-weight: 400;
	margin: 0 auto;
	padding: 0;
	border: 3px solid $color__header-main;
	border-radius: 100%;
	background: $background;
	box-shadow: none;
	@include flex-column(nowrap, center, center);
	&:hover {
		cursor: pointer;
		color: $color__menu-hover;
		border-color: $color__menu-hover;
	}
	&:focus {
		outline: none;
	}
	@include media ($desktop-width) {
		height: 45px;
		width: 45px;
	}
}

@mixin exit-popout-button( $background: none) {
	height: 35px;
	width: 35px;
	font-weight: 400;
	margin: 0 auto;
	border: 3px solid $color__header-main;
	border-radius: 100%;
	padding: 0;
	background: $background;
	box-shadow: none;
	@include flex-column(nowrap, center, center);
	&:hover {
		cursor: pointer;
		color: $color__menu-hover;
		border-color: $color__menu-hover;
	}
	&:focus {
		outline: none;
	}
	@include media ($desktop-width) {
		height: 45px;
		width: 45px;
	}
}

// Media Queries
@mixin media($width) {
	@media all and (min-width: $width) {
		@content;
	}
}
