/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.site-header {
	height: 100px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: 80px;
	width: 100%;
	margin: auto;
	.logo {
		width: 50%;
		display: flex;
		padding-left: 20px;
		height: 100%;
		@include media($desktop-width) {
			width: 20%;
		}
	}
	.header-logo {
		background: url('../../images/full-logo.svg')no-repeat;
		background-size: 100%;
		margin: 15px auto;
		display: flex;
		width: 145px;
		height: 60px;
		text-align: center;
		overflow: hidden;
		text-indent: 193%;
		@include media($desktop-width) {
			margin: 20px auto;
			width: 110px
		}
		@include media(845px) {
			height: 100px;
			margin: 15px auto;
			width: 145px
		}
	}
	.top-menu {
		position: absolute;
		right: 0%;
		z-index: 1;
		height: auto;
		width: auto;
		@include flex-row(nowrap, flex-end, baseline);
		@include media($desktop-width) {
			width: 80%;
		}
	}
	.desktop-menu {
		visibility: hidden;
		height: 0;
		width: 100%;
		@include media(1180px) {
			visibility: visible;
			height: 100%;
		}
		.menu-menu-1-container {
			height: 100%;
			width: auto;
		}
		#primary-menu {
			display: flex;
			justify-content: flex-end;
			margin: 0 auto;
			padding-top: 45px;
			padding-right: 5%;
			list-style: none;
			ul {
				height: 70%;
				padding-top: 45px;
				overflow: hidden;
				list-style: none;
			}
			li {
				padding: 0 12px;
			}
			li.current-menu-item {
				a {
					color: $color__menu-active;
				}
			}
			a {
				text-transform: uppercase;
				color: $color__header-main;
				font-size: 1rem;
				text-decoration: none;
				&:active {
					color: $color__menu-active;
				}
				&:hover {
					color: $color__menu-hover;
				}
			}
		}
	}
	.hamburger-menu {
		width: 60vw;
		display: flex;
		position: relative;
		@include flex-column(nowrap, flex-start, flex-end);
		.hamburger {
			margin-top: 27px;
			margin-right: 20px;
		}
		ul {
			display: flex;
			flex-direction: column;
			margin-top: 40px;
			list-style: none;
			line-height: 1.35rem;
		}
		li {
			padding: 12px 0;
			border-bottom: 1px solid white;

			@include media ($desktop-width) {
				padding: 20px 0;
			}
			a {
				display: block;
				text-decoration: none;
				padding-left: 20px;
				font-size: 0.95rem;
				color: $color__header-main;
				text-transform: uppercase;
			}
			&:hover {
				background-color: $color__brand-blue;
			}
		}
		.hamburger {
			border: 1px solid #333345;
			border-radius: 0;
			background: #333345;
			box-shadow: none;
			font-size: 30px;
			line-height: 22px;
			color: white;
			padding: 15px;
			text-shadow: none;
			transition: opacity 0.2s ease;
		}
		.cross {
			border: 1px solid #333345;
			border-radius: 0;
			background: #333345;
			box-shadow: none;
			font-size: 66px;
			line-height: 20px;
			color: white;
			padding: 25px 20px;
			text-shadow: none;
			height: 30px;
			position: absolute;
			left: 0;
			top: 28px;
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		.mobile-menu {
			padding-top: 60px;
			background-color: rgba(255, 255, 255, .8);
			opacity: 0;
			transition: opacity 0.2s ease;
		}

		.opaque {
			opacity: 1;
		}

		.transparent {
			opacity: 0;
		}
		@include media(1180px) {
			display: none;
		}
	}
}