/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* sub menu */
#primary-menu .sub-menu {
    display: none;
}

#primary-menu li:hover > .sub-menu {
    display: block;

	li {
		padding: 0.5rem 0 0 1.5rem;
	}
}

#primary-menu .menu-item-has-children {
	text-align: right;
	background-color: transparent;

	&:hover, &:focus {
		background-color: rgba(255, 255, 255, .95);
	}
}

/* Menus */

.main-navigation {
	display: block;
	width: 100%;
}

.menu-menu-1-container{
	font-family: $font__secondary;
}
/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.site-header {
	height: 80px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: 80px;
	width: 100%;
	margin: auto;
	.logo {
		width: 50%;
		display: flex;
		padding-left: 20px;
		height: 85%;
    	overflow: hidden;
	}
	.header-text {
		height: 0;
		width: 0;
		overflow: hidden;
	}
	.header-logo {
		background: url('../../images/full-logo.svg')no-repeat;
		background-size: 100%;
		width: 160px;
		height: 68px;
		margin: 0;
		margin-top: 10px;
		display: flex;
		text-align: center;
		overflow: hidden;
		text-indent: 193%;
		@include media ($desktop-width) {
		}
	}
	.top-menu {
		position: absolute;
		right: 0%;
		z-index: 1;
		height: auto;
		width: 50%;
		@include flex-row(nowrap,
		flex-end,
		baseline);
		@include media($desktop-width) {
			width: 85%;
		}
	}
	.desktop-menu {
		visibility: hidden;
		height: 0;
		width: 100%;
		@include media(1200px) {
			visibility: visible;
			height: 100%;
		}
		.menu-menu-1-container {
			height: 100%;
			width: auto;
		}
		#primary-menu {
			display: flex;
			justify-content: flex-end;
			margin: 0 auto;
			padding-top: 35px;
			list-style: none;
			ul {
				height: 70%;
				padding-top: 45px;
				overflow: hidden;
				list-style: none;
			}
			.sub-menu {
				height: auto;
				padding: $base__space-unit;
				padding-left: 2.5rem;
			}
			li {
				padding: 0 18px;
			}
			li.current-menu-item {
				a {
					color: $color__menu-hover;
				}
			}
			a {
				text-transform: uppercase;
				color: $color__header-main;
				font-size: 1rem;
				font-weight: 800;
				text-decoration: none;
				&:active {
					color: $color__menu-hover;
				}
				&:hover {
					color: $color__menu-active;
				}
			}
		}
	}
	.hamburger-menu {
		width: 60vw;
		display: flex;
		position: relative;
		@include flex-column(nowrap,
		flex-start,
		flex-end);
		@include media(1200px) {
			display: none;
		}
		.hamburger {
			height: 52px;
			width: 52px;
			margin-top: 5px;
			margin-right: 20px;
			position: relative;
			bottom: 1px;
			border: 1px solid #333345;
			border-radius: 0;
			background: #333345;
			font-size: 30px;
			line-height: 22px;
			color: white;
			transition: opacity 0.2s ease;

			@include media( $desktop-width ) {
				bottom: 5px;
			}
		}
		ul {
			display: flex;
			flex-direction: column;
			margin-top: 5px;
			list-style: none;
			line-height: 1.35rem;
			margin: 0;
			text-align: right;
			padding: 0;
			padding-right: 1rem;
			@include media( $desktop-width ) {
				margin-top: 0;
			}
		}
		li:last-child {
			border-bottom: 0;
		}
		li {
			padding: 0;
			border-bottom: 1px solid white;
			transition: all 0.2s ease;
			@include media ($desktop-width) {
				font-size: 1.85rem;
			}
			a {
				display: block;
				text-decoration: none;
				padding: 12px 12px 12px;
				font-size: 1rem;
				color: $color__header-main;
				text-transform: uppercase;
				@include media($desktop-width) {
					font-size: 1.25rem;
					padding: 15px 20px 15px;
				}
			}
			&:hover {
				background-color: $color__brand-blue;
			}
		}
		.cross {
			height: 52px;
			width: 52px;
			border: 1px solid #333345;
			border-radius: 0;
			background: #333345;
			box-shadow: none;
			font-size: 2.3rem;
			line-height: 20px;
			color: white;
			text-shadow: none;
			margin-right: 20px;
			position: absolute;
			right: 0;
			top: 16px;
			opacity: 0;
			transition: opacity 0.3s ease;

			div {
				height: 25px;
				width: 23px;
				line-height: 0;
				position: relative;
				top: 24px;
				right: 2px;
				font-size: 5rem;
			}
		}
		.mobile-menu {
			display: none;
			height: 0;
			margin-top: 80px;
			background-color: rgba(255, 255, 255, .95);
			opacity: 0;
			overflow: hidden;
			transition: opacity 0.2s ease;
			width: 60vw;
			height: auto;
			@include media($desktop-width){
				width: 40vw;
			}
		}
		.opaque {
			opacity: 1;
		}
		.transparent {
			opacity: 0;
		}
	}
}
