.page-id-19 {
    margin: 0 auto;
    .entry-content {
        p {
            font-weight: $font__light;
        }
    }
    .header-text {
        @include header-text;
    }
    .entry-title {
        @include page-title;
    }
    .banner-text {
        @include banner-text;
    }
    .entry-header {
        display: none;
    }
    .navigation-button {
        @include navigation-button();
    }
    .newsmedia-content {
        .widget-area {
            margin-top: 10px;
            padding: 0 20px;
        }
        @include media($desktop-width) {
            display: flex;
            width: 100%;
            .newsmedia-article {
                width: 70%;
                height: 100%;
            }
            .widget-area {
                width: 40%;
            }
        }
    }
    .widget-title {
        display: none;
    }
    .newsmedia-article {
        padding: 0px 20px;
        .news {
            background-color: $color__brand-blue;
            padding-bottom: 20px;
            margin: 10px 0;
        }
        .article-thumb {
            height: 235px;
            width: 100%;
            overflow: hidden;
            img {
                height: auto;
                min-width: 100%;
                max-width: 105%;
            }
        }
        .newsmeida-article:first-child {
            display: block;
        }
         .newsmeida-article:nth-child(2){
            display: none;
        }
        @include media($desktop-width) {
            @include flex-row(wrap, space-around);
            .news {
                height: auto;
                // min-height: 390px;
                width: 48%;
                display: block;
            }
            .news:nth-child(5n + 1) {
                width: 98%;
                display: block;
            }
        }
        .article-content {
            padding: 5px 15px;
            margin-bottom: 10px;
            height: 180px;
            overflow: hidden;
            p {
                margin: 0;
            }
            h3 {
                margin: 8px 0;
                font-weight: $font__bold;
            }
        }
        .hentry {
            font-size: 14px;
            p {
                text-align: left;
            }
            .entry-content {
                margin: 0;
            }
        }
        .date {
            font-size: 12px;
            font-weight: $font__light;
        }
        .cfs-hyperlink {
            color: $color__text-main;
            font-weight: $font__bold;
            text-decoration: none;
            text-transform: uppercase;
            padding: 5px 15px;

            &:hover {
                color: $color__menu-active;
            }
        }
    }
    li.tweets_avatar {
        border: none;
        box-shadow: none;
        border-radius: 0;
         background: $color__brand-blue;
        padding: 0 !important;
        &:nth-child(2) {
            display: none;
            @include media($desktop-width) {
                display: block;
            }
        }
        &:nth-child(3) {
            display: none;
            @include media($desktop-width) {
                display: block;
            }
        }
    }
    .tweet_wrap {
        background: $color__brand-blue;
        padding: 20px;
    }
    .tweet_data,
    .times {
        padding: 0 60px;
    }
    .tweet-actions a {
        padding: 5px;
        background-color: lightgrey;
        border-radius: 20px;
    }
    .light .tweets-intent-data {
        border-top: none;
    }

    .video {
        text-align: center;
        iframe {
            width: 90%;
            height: 500px;
        }
    }
}
