.page-template-news {
    margin: 0 auto;
    .entry-content {
        text-align: center;
    }
    .entry-title {
        position: absolute;
        left: 34%;
        width: 202px;
        line-height: 54px;
        top: 11%;
        @include page-title;
        padding-top: 150px;
        @include media($desktop-width) {
            position: initial;
            margin: 0;
            width: 100%;
        }
    }
    .entry-subtitle {
        position: absolute;
        width: 250px;
        top: 55%;
        left: 18%;
        @include banner-text;
        @include media($desktop-width) {
            width: 100%;
            position: initial;
            font-size: 30px;
            text-align: center;
        }
    }
    .entry-header {
        display: none;
    }
    h2 {
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        background-color: $color__brand-blue;
        padding: 30px 0;
        text-align: center;
        @include media($desktop-width) {
            font-size: 50px;
        }
    }
    .load-more {
        margin-bottom: 80px;
        margin-top: 40px;
        text-align: center;
        a {
            padding: 30px 80px;
            text-transform: uppercase;
            border: 3px solid black;
            text-decoration: none;
            color: black;
            &:hover {
                border: 3px solid #8ED7FF;
                box-shadow: 1px 1px 5px $color__header-main;
            }
        }
    }
    .video {
        text-align: center;
        height: 400px;
    }
    .newsmedia-content {
        @include media($desktop-width) {
            display: flex;
            width: 100%;
            .newsmedia-article {
                width: 60%;
            }
            .widget-area {
                width: 40%;
                padding: 0 20px;
            }
        }
    }
    .widget-title {
        display: none;
    }
    .newsmedia-article {
        #news {
            background-color: $color__brand-blue;
            padding-bottom: 20px;
            margin: 10px 0;
        }
        .article-thumb {
            width: 100%;
            overflow: hidden;
            img {
                max-width: 105%;
            }
        }
        [class="292"] {
            display: none;
        }
        [class="286"] {
            display: none;
        }
        [class="282"] {
            display: none;
        }
        [class="296"] {
            display: none;
        }
        @include media($desktop-width) {
            padding: 0px 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            [class="284"] {
                width: 100%;
            }
            [class="292"] {
                width: 48%;
                display: block;
            }
            [class="286"] {
                width: 48%;
                display: block;
            }
            [class="282"] {
                width: 48%;
                display: block;
            }
            [class="296"] {
                width: 48%;
                display: block;
            }
        }
        .article-content {
            padding: 5px 15px;
            margin-bottom: 10px;
            height: 180px;
            overflow: hidden;
            p {
                margin: 0;
            }
            h3 {
                margin: 8px 0;
            }
        }
        #post-19 {
            font-size: 14px;
            p {
                text-align: left;
            }
            .entry-content {
                margin: 0;
            }
        }
        .date {
            font-size: 12px;
        }
        .cfs-hyperlink {
            color: $color__text-main;
            text-decoration: none;
            text-transform: uppercase;
            padding: 5px 15px;
        }
    }
}