.page-template-news {
    margin: 0 auto;
    .entry-content {
        text-align: center;
    }
    .entry-title {
        @include header-text-shadow;
        position: absolute;
        left: 39%;
        top: 11%;
        width: 120px;
        line-height: 60px;
        text-align: center;
        padding-top: 100px;
        font-size: 40px;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        @include media($desktop-width) {
            @include page-title;
            width: 100%;
            position: initial;
            margin: 0;
        }
    }
    .entry-subtitle {
        position: absolute;
        width: 250px;
        top: 55%;
        left: 32%;
        color: white;
        @include banner-text;
        margin: 0;
        @include media($desktop-width) {
            width: 100%;
            position: initial;
            font-size: 30px;
            text-align: center;
        }
    }
    .entry-header {
        display: none;
    }
    h2 {
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        background-color: $color__brand-blue;
        padding: 30px 0;
        text-align: center;
        @include media($desktop-width) {
            font-size: 50px;
        }
    }
    .load-more {
        margin-bottom: 80px;
        margin-top: 40px;
        text-align: center;
        a {
            padding: 30px 80px;
            text-transform: uppercase;
            border: 3px solid black;
            text-decoration: none;
            color: black;
            &:hover {
                border: 3px solid #8ED7FF;
                box-shadow: 1px 1px 5px $color__header-main;
            }
        }
    }
    .content-post {
        @include media($desktop-width) {
            display: flex;
            justify-content: center;
        }
        .MediaCard-borderOverlay {
            display: none;
        }
    }
    .twitter {
        padding: 10px 20px;
    }
    .article {
        padding: 10px 20px;
    }
    .EmbeddedTweet-tweet {
        background-color: black;
    }
}
