.page-id-159 {
    height: 100%;
    width: 100%;
    @include media($desktop-width) {
        font-size: $font__desktop-size;
        line-height: $line-height-desktop;
    }
    .header-text {
        @include header-text;
        top: 25%;
        @include media($desktop-width) {
            top: 34%;
        }
    }
    .entry-title {
        @include page-title;
    }
    .banner-text {
        width: 95%;
        @include banner-text;
        @include media($desktop-width) {
            font-size: 1.75rem;
            line-height: 2rem;
        }
    }

    .intro-copy {
        @include intro-copy;
    }

        // Exit button for staff profile popouts.
    .blue-background-header {
        position: relative;
        font-size: 2.4rem;
    }

    .staff-exit-button {
        display: inline-block;
        position: absolute;
        top: 25%;
        right: 5%;
        @include exit-popout-button(40px, #FFF);

        span {
            font-size: 2.15rem;
            position: relative;
            bottom: 1px;
        }
    }

    // Buttons
    .enter-button,
    .exit-button {
        @include popout-button(45px);
        font-size: 3.5rem;
        font-weight: 300;
    }

    .enter-button {
        @include media($desktop-width) {
            display: none;
        }
    }

    .exit-button {
        font-weight: 400;
        background: white;
        padding-top: 0.7rem;
        padding-left: 0.04rem;
        position: absolute;

        span {
            font-size: 2.05rem;
        }
    }

    .name {
        margin: 0 auto;
        font-size: 1.25rem;
        font-weight: 900;
        letter-spacing: 1.5px;
    }

    .job-title {
        font-family: 'quattrocento';
        max-width: 235px;
        margin: 0.25rem auto;
        font-size: 1.1rem;
        text-align: center;
        font-weight: 600;
        font-style: italic;
        letter-spacing: 1.25px;
    }

    .staff-profiles-wrapper,
    .board-profiles-wrapper,
    .advisors-profiles-wrapper {
        margin-bottom: 2rem;
        @include flex-column(nowrap, space-between, center);
        @include media($desktop-width) {
            width: 80%;
            margin: 0 auto 3.25rem;
            @include flex-row(wrap, center, flex-start);
        }
        .profile-popout {
            height: 0;
            width: 0;
            background: $color__brand-blue;
            font-weight: 400;
            opacity: 0;
            overflow: hidden;
            transition: opacity 0.7s ease;
            display: none;

            a {
                color: $color__text-main;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    color: $color__menu-active;
                }
            }

            .left-quotation, .right-quotation {
                height: 90px;
                width: 120px;
                background: url('../../images/icon/quotation-white.svg') no-repeat center;
                background-size: 170%;
                position: absolute;
            }

            .left-quotation {
                left: -10%;
                top: 54%;
                @include media($desktop-width) {
                    left: -8%;
                    top: 43%;
                }
            }

            .right-quotation {
                right: -7%;
                top: 74%;
                transform: rotate(180deg);
                @include media($desktop-width) {
                    right: -10%;
                    top: 84%;
                }
            }

            .quote {
                margin-bottom: 2.5rem;
                font-size: 1.15rem;
                font-weight: 300;
                line-height: 1.4rem;
                text-align: center;
                position: relative;
                z-index: 2;

                @include media($desktop-width) {
                    margin-bottom: 2.5rem;
                    font-size: 1.65rem;
                    line-height: 2rem;
                    text-align: center;
                }
            }

            .center-column {
                @include flex-column(nowrap, flex-start, center);
                margin: 0 auto;

                img {
                    width: 290px;
                }
            }

            .left-column {
                width: 100%;
                float: none;
                position: relative;
                @include flex-column(nowrap, center, center);
                @include media($desktop-width) {
                    width: 40%;
                    margin-right: 10%;
                    float: left;
                }
                img {
                    width: 225px;
                    @include media($desktop-width) {
                        width: 95%;
                    }
                }
            }

            h3 {
                width: 50%;
                margin: 0 auto;
                font-size: 1.5rem;
                font-family: quattrocento;
                line-height: 1.75rem;
                font-style: italic;
                text-align: center;
                display: inline-block;
                @include media($desktop-width) {
                    font-size: 2rem;
                }
            }

            article {
                font-size: 1.15rem;
                line-height: 1.5rem;
                display: inline;

                p:first-child {
                    margin-bottom: 0;
                }

                p:nth-last-of-type(2), h4 {
                    max-width: none;
                    float: none;

                    @include media($desktop-width) {
                        max-width: 50%;
                        float: right;
                    }
                }

                p:nth-last-of-type(2) {
                    margin-bottom: 0;
                    padding: $base__space-unit;
                    padding-bottom: 0;
                    background: white;
                }

                h4 {
                    margin-top: 0;
                    padding: $base__space-unit;
                    background: white;
                    clear: right;

                    & + p {
                        clear: both;
                    }
                }


                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    & li::before {
                        content: "-";
                        margin-right: 0.5rem;
                        display: inline;
                    }

                }
            }
        }
        // Toggle-able classes for hiding and showing team member profiles, and greying-out content.

        .translucent {
            opacity: 0.5;
        }

        .show-popout {
            height: 100%;
            width: 100%;
            padding: 7% 7%;
            @include flex-column(nowrap, center, center);
            opacity: 1;

            @include media($desktop-width) {
                width: 950px;
            }
        }

        .small-header {
            margin: 1.5rem auto 1rem;
            font-size: 1.5rem;
            font-weight: $font__bold;
            text-align: center;
            text-transform: uppercase;
            @include media($desktop-width) {
                width: 100%;
                margin: 3rem auto 2.5rem;
            }
        }
        .board-profiles-header {
            height: auto;
            width: 100%;
            margin: 2rem auto 1rem;
            position: relative;
            @include flex-row(nowrap, center, center);
            .small-header {
                height: auto;
                width: auto;
                margin: 0;
            }
            .board-exit-button {
                margin: 0px;
                position: absolute;
                top: 18%;
                right: 5%;

                span {
                    position: relative;
                    bottom: 2px;
                    right: 1px;
                    font-size: 2.05rem;
                }
            }
        }
        // Profile preview styles
        .navigation-button-container {
            width: 100%;
            .navigation-button {
                @include navigation-button;
                margin: 1rem auto;
            }
        }

        .profile-preview {
            width: 100%;
            margin: 1rem 3rem;
            text-align: center;
            position: relative;
            @include media($desktop-width) {
                width: 24%;
            }
            .profile-image {
                width: 190px;
                border-radius: 50%;
                @include media($desktop-width) {
                    width: 95%;
                }
                &:hover {
                    box-shadow: 0 2px 8px #4990E2;
                }
            }
        }
    }

    .advisors-profiles-wrapper {
        margin-bottom: 2rem;
        
        .small-header {
            margin: 2rem auto 1rem;
            letter-spacing: 1.5px;
        }
        .profile-preview {
            width: 100%;
            margin: 1.25rem auto;
            position: relative;
            @include flex-column(nowrap, center, center);
            @include media(1350px) {
                width: 20%;
            }
            .name {
                margin: 0 auto;
            }
            .job-title {
                min-width: 130px;
                margin: 0 auto;
            }
            &:nth-child(4) .job-title {
                width: 265px;
            }
        }
        .navigation-button-container {
            @include media($desktop-width) {
                margin: 3rem auto 1rem;
            }
        }
    }
}