.page-template-our-story {
    .hero-image-banner {
        color: white;
        text-align: center;
        position: relative;
    }
    .entry-title {
        @include page-title;
        @include media($desktop-width) {
            padding-top: 150px;
        }
    }
    .header-text {
        position: absolute;
        top: 20%;
        left: 8%;
        @include media($desktop-width) {
            position: initial;
        }
    }
    .bannertext {
        @include banner-text;
        @include media($desktop-width) {}
    }
    .site-content {
        text-align: center;
        .entry-header {
            visibility: hidden;
            height: 1px;
        }
        .top-text {
            text-align: center;
            font-size: 20px;
            margin: 30px auto;
            width: 280px;
            font-weight: 100;
            line-height: 25px;
            @include media($desktop-width) {
                width: 100%;
                font-size: 22px;
                font-weight: lighter;
            }
        }
        a {
            padding: 20px 50px;
            text-transform: uppercase;
            border: 1px solid black;
            text-decoration: none;
            color: black;
            @include media($desktop-width) {
                border: 3px solid black;
            }
            &:hover {
                border-color: $color__brand-blue;
                box-shadow: 1px 1px 5px $color__header-main;
            }
            &.active {
                background-color: $color__brand-blue;
            }
        }
        h2 {
            font-size: 50px;
            text-transform: uppercase;
            font-weight: 400;
            background-color: $color__brand-blue;
            padding: 20px 0;
            text-align: center;
            line-height: 50px;
        }
        h3 {
            text-align: center;
            font-size: 35px;
            font-weight: lighter;
            margin: auto;
            line-height: 35px;
            @include media($desktop-width) {
                font-size: 50px;
                line-height: 55px;
                margin-bottom: 50px;
            }
        }
        .mission-quote,
        .mission-quote2 {
            display: flex;
            height: 200px;
            font-weight: lighter;
            position: relative;
            justify-content: center;
            padding-top: 30px;
            @include media($desktop-width) {
                font-size: 20px;
            }
            .quote,
            .quote2 {
                text-align: center;
                z-index: 1;
                width: 320px;
                text-align: center;
                margin: auto;
                font-size: 18px;
                position: absolute;
                width: 90%;
                @include media($desktop-width) {
                    font-size: 20px;
                }
            }
            .quotation-left,
            .quotation-left2 {
                background: url('../../images/icon/quotation.svg')no-repeat center;
                background-size: 250%;
                width: 145px;
                height: 130px;
                position: absolute;
                right: 71%;
                bottom: 35%;
            }
            .quotation-right,
            .quotation-right2 {
                background: url('../../images/icon/quotation.svg')no-repeat center;
                background-size: 250%;
                width: 145px;
                height: 130px;
                transform: rotate(180deg);
                position: absolute;
                left: 70%;
                bottom: 38%;
            }
        }
        .robert {
            margin-bottom: 60px;
            text-align: center;
            h4 {
                margin: 0;
            }
            .position {
                margin: 0;
            }
        }
        .arrow {
            transform: rotate(90deg);
        }
        .rent {
            margin: 0;
            .rent-title {
                margin: 0;
            }
            img {
                margin-bottom: 50px;
            }
        }
        .mission-text {
            margin: 0 auto;
            font-size: 16px;
            font-weight: lighter;
            width: 80%;
            margin-bottom: 20px;
            @include media($desktop-width) {
                width: 96%;
                margin-bottom: 0;
            }
        }
        .mission-content {
            text-align: center;
            .arrow {
                margin-bottom: 10px;
            }
            @include media($desktop-width) {
                display: flex;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;
                .arrow {
                    margin-top: 50px;
                    height: 50px;
                    transform: rotate(0deg);
                }
            }
            .mission-image {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto;
                @include media($desktop-width) {
                    width: 25%;
                }
                img {
                    width: 100%;
                    height: 180px;
                }
                h5 {
                    width: 100%;
                }
            }
        }
        .formula-p {
            width: 90%;
            margin: auto;
        }
        .formula-text {
            font-size: 14px;
            line-height: 14px;
            font-weight: 100;
        }
        .formula-carousel {
            @include media($desktop-width) {
                padding-left: 20px;
            }
        }
        @include ourStory-carousel {
            .formula-text {
                width: 85%;
            }
        }
        h5 {
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        .end-content {
            margin: 50px 0;
        }
    }
}