.page-template-page-our-story {
    .herobanner {
        color: white;
        text-align: center;
    }
    .site-content {
        header{
            position: relative;
            p{
                position: absolute;
                color: white;
            }
        }
        h1 {
            position: absolute;
            color: white;
            text-transform: uppercase;
        }
        .entry-content {
            margin-top: 0;
        }

        article {
            text-align: center;
        }
        a {
            padding: 20px 50px;
            text-transform: uppercase;
            border: 3px solid black;
            text-decoration: none;
            color: black;
        }
        h2 {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: medium;
            background-color: $color__brand-blue;
            padding: 20px 0;
            text-align: center;
        }
        h3 {
            font-size: 50px;
            line-height: 55px;
            font-weight: lighter;
            width: 700px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        .formula {
            p {
                font-size: 24px;
                line-height: 28px;
                font-weight: lighter;
                width: 900px;
                margin: 20px auto;
            }
        }
        .text-under-image {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 50px;
            p {
                font-size: 14px;
                line-height: 16px;
                width: 20%;
                margin: 0;
            }
        }
        .image {
            height: 300px;
        }
        .robert {
                margin-bottom: 50px;
            h4 {
                margin-bottom: 0;
                font-size: 28px;
            }
            p {
                margin-top: 0;
                font-size: 26px;
                padding-top: 10px;
                margin-bottom: 60px;
            }
        }
        .mission {
            .mission-quote {
                display: flex;
                width: 989px;
                margin: 0 auto;
            }
            .quote {
                font-size: 24px;
                line-height: 28px;
                font-weight: lighter;
                width: 900px;
                margin: 20px auto;
            }
        }
        .mission-content {
            display: flex;
            justify-content: space-between;
            .income {
                width: 30%
            }
            .rent {
                width: 30%
            }
            .life {
                width: 30%
            }
            h5 {
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
        .end-content {
            margin: 100px 0;
            .end-content-quote {
                  display: flex;
                width: 989px;
                margin: 0 auto;
            }
            .quote {
                font-size: 24px;
                line-height: 28px;
                font-weight: lighter;
                width: 900px;
                margin: 20px auto;
            }
        }
    }
}