.page-id-159 {
    height: 100%;
    width: 100%;
    @include media($desktop-width) {
        font-size: $font__desktop-size;
        line-height: $line-height-desktop;
    }
    .header-text {
        @include header-text;
    }
    .entry-title {
        @include page-title;
    }
    .banner-text {
        width: 95%;
        @include banner-text;
    }
    .intro-copy {
        @include intro-copy;
    }
}
// Exit button for staff profile popouts.
.blue-background-header {
    position: relative;
    font-size: 2.4rem;

    h2 {
        font-size: 1.4rem;

        @include media( 400px ) {
            font-size: 1.6rem;
        }
        @include media($desktop-width) {
            font-size: 2rem;
        }
    }
}
// Buttons
.enter-button,
.exit-button {
    @include popout-button();
    font-weight: 400;
}

.enter-button {
    @include media($desktop-width) {
        display: none;
    }

    span {
        position: relative;
        height: 20px;
        width: 20px;
        background: url( '../../images/icon/plus.svg' ) no-repeat 49% 50%;
    }
}

.exit-button {
    background: white;
    position: absolute;
}

.staff-exit-button {
    position: absolute;
    top: 23%;
    right: 5%;
    @include exit-popout-button(#FFF);

    span {
        position: relative;
        bottom: 0.5px;
        right: 0.2px;
        z-index: 100000;
        height: 17px;
        width: 17px;
        display: inline-block;
        background: url('../../images/icon/cross.svg') no-repeat 49% 50%;
        font-size: 6rem;

        @include media( $desktop-width ) {
            height: 20px;
            width: 20px;
        }
    }
}

.photo-credit {
    color: darkgray;
    font-size: 0.75rem;
    font-style: italic;
    line-height: 0.75rem;
    margin: 0 auto 0.25rem;
}

.profile-popout .photo-credit {
    color: $color__text-main;
    font-size: 0.75rem;
    font-style: italic;
    line-height: 0.75rem;
    margin: 0.5rem auto 0.25rem;
}
.name {
    margin: 0 auto;
    font-family: $font__secondary;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    z-index: 2;
}

.job-title {
    max-width: 235px;
    margin: 0.25rem auto 1rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: center;
    font-weight: $font__semibold;
    font-style: italic;
    letter-spacing: 1.25px;
    z-index: 2;
}

.committee-profiles-wrapper .job-title {
    margin: 0.5rem auto;
}

.staff-profiles-wrapper,
.board-profiles-wrapper,
.committee-profiles-wrapper,
.advisors-profiles-wrapper {
    margin-bottom: 2rem;
    @include flex-column(nowrap, space-between, center);
    @include media($desktop-width) {
        width: 80%;
        margin: 0 auto 3rem;
        @include flex-row(wrap, center, flex-start);
    }
    .profile-popout {
        height: 0;
        width: 0;
        background: $color__brand-blue;
        font-family: $font__secondary;
        font-weight: 400;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.75s ease;
        display: none;

        a {
            color: $color__text-main;
            font-weight: $font__bold;
            &:hover {
                color: $color__menu-active;
            }
        }

        .left-quotation, .right-quotation {
            height: 30px;
            width: 50px;
            background: url('../../images/icon/quotation-white.svg') no-repeat center;
            background-size: 275%;
            position: absolute;
            z-index: 1;
        }

        .left-quotation {
            top: 0px;
            left: -35px;

            @include media( $desktop-width ) {
                left: -25px;
            }
            @include media( 1000px ) {
                left: -45px;
            }
        }
        .right-quotation {
            bottom: 20px;
            right: -35px;
            transform: rotate(180deg);
            @include media($desktop-width) {
                bottom: 35px;
            }
            @include media(1100px) {
                right: -23px;
            }
        }
        .quote-container {
            position: relative;
            max-width: 90%;
        }
        .quote {
            max-width: 345px;
            margin-bottom: $base__space-unit;
            font-size: 1.5rem;
            font-weight: $font__bold;
            font-style: italic;
            line-height: 2.25rem;
            text-align: center;
            position: relative;
            z-index: 100000;

            @include media($desktop-width) {
                max-width: 260px;
                margin-bottom: 2.5rem;
                text-align: left;
            }
        }

        .center-column {
            @include flex-column(nowrap, flex-start, center);
            margin: 0 auto;

            img {
                width: 290px;
                border-radius: 50%;
            }
        }

        .left-column {
            width: 100%;
            float: none;
            position: relative;
            @include flex-column(nowrap, center, center);
            @include media($desktop-width) {
                width: 40%;
                margin-right: 10%;
                float: left;
            }
            img {
                width: 225px;
                border-radius: 50%;
                @include media($desktop-width) {
                    width: 95%;
                }
            }
        }

        h3 {
            width: 100%;
            margin: $base__space-unit auto;
            font-size: 1.5rem;
            line-height: 2rem;
            font-family: $font__main;
            line-height: 1.75rem;
            font-style: italic;
            text-align: center;
            display: inline-block;
            @include media($desktop-width) {
                width: 50%;
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }

        article {
            font-size: $font__mobile-size;
            line-height: $line-height-body;
            display: inline;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                & li::before {
                    content: "-";
                    margin-right: 0.5rem;
                    display: inline;
                }

            }
        }
    }
    // Toggle-able classes for hiding and showing team member profiles, and greying-out content.

    .show-popout {
        height: 100%;
        width: 100%;
        padding: 3% 5%;
        @include flex-column(nowrap, center, center);
        opacity: 1;

        @include media($desktop-width) {
            width: 950px;
        }
    }
    .board-profiles-header, .committee-profiles-header {
        height: auto;
        width: 100%;
        margin: 2rem auto 1rem;
        position: relative;
        @include flex-row(nowrap, center, center);
        .small-header {
            height: auto;
            width: auto;
            margin: 0 0 2rem;
        }
    }
    // Profile preview styles
    .navigation-button-container {
        width: 100%;
        .navigation-button {
            @include navigation-button;
        }
    }

    .profile-preview {
        width: 100%;
        margin: 1rem 3rem;
        text-align: center;
        position: relative;

        @include media($desktop-width) {
            width: 30%;
            max-width: 270px;
        }
        .profile-image {
            width: 190px;
            border-radius: 50%;
            @include media($desktop-width) {
                width: 95%;

                &:hover {
                    box-shadow: 0 2px 8px #4990E2;
                }
            }
        }
    }
}

.small-header {
    margin: 1.5rem auto 1rem;
    font-size: 1.5rem;
    font-weight: $font__bold;
    text-align: center;
    text-transform: uppercase;
    @include media($desktop-width) {
        font-size: 2rem;
        width: 100%;
        margin: 3rem auto 2.5rem;
    }
}
.advisors-copy-container {
    width: 100%;
}
.advisors-copy {
    max-width: 650px;
    padding: 0 2rem;
    margin: 0 auto 2rem;
    text-align: left;
    font-family: $font__secondary;
    @include media ($desktop-width) {
        margin: 0 auto 3rem;
        line-height: $line-height-desktop;
    }
    @include media(1200px) {
        max-width: 860px;
    }
}

.advisors-profiles-wrapper {
    margin-bottom: 2rem;
    a {
        text-decoration: none;
        color: $color__text-main;
    }
    .profile-preview {
        width: 100%;
        margin: 1.25rem auto;
        position: relative;
        @include flex-column(nowrap, center, center);
            @include media(900px) {
            width: 30%;
        }
        @include media(1350px) {
            width: 20%;
        }
        .job-title {
            min-width: 130px;
            margin: 0 auto;
        }
        &:nth-child(4) .job-title {
            width: 265px;
        }
    }
    .navigation-button-container {
        @include media($desktop-width) {
            margin: 3rem auto 1rem;
        }
    }
}
