.page-id-21 {
    p {
        font-family: $font__secondary;
        font-size: $font__mobile-size;
        @include media ($desktop-width) {
            font-size: $font__desktop-size;
        }
    }
    .mission-copy, .formula-p {
        padding: 0 1rem;
    }
    .header-text {
        @include header-text;
    }
    .entry-title {
        @include page-title;
    }
    .banner-text {
        @include banner-text;
    }
    .intro-copy {
        @include intro-copy;
    }
    .site-content {
        text-align: center;
    }
    h3 {
        text-align: center;
        padding: 25px 10px 10px;
        margin: auto;
        line-height: 35px;
        width: 450px;
        max-width: 100%;
        font-size: 30px;
        font-weight: 300;
        @include media($desktop-width) {
            font-size: 40px;
            font-weight: $font__bold;
            line-height: 55px;
            margin-bottom: 30px;
            padding: 20px 0 0;
            width: 700px;
        }
    }
    .navigation-button {
        @include navigation-button();
    }
    .download {
        @include navigation-button();
        a {
            text-decoration: none;
            color: $color__header-main;
        }
    }
    .mission-copy {
        max-width: 650px;
        margin: 0 auto;
        @include media($desktop-width) {
            max-width: 860px;
        }
    }
    .mission-quote,
    .mission-quote2 {
        display: flex;
        font-weight: lighter;
        position: relative;
        justify-content: center;
    }
    .mission-quote {
        height: auto;
        max-width: 320px;
        margin: 0 auto;
        position: relative;

        @include media( 600px ) {
            max-width: 450px;
        }

        @include media( $desktop-width ) {
            max-width: 600px;
        }
        .quote-target {
            height: 0;
            width: 0;
            position: relative;
        }
    }
    .mission-quote2 {
        height: auto;
        max-width: 320px;
        margin: 0 auto;
        @include media(600px) {
            max-width: 460px;
        }
        @include media( $desktop-width ) {
            max-width: 610px;
        }
    }
    .q-text-container {
        position: relative;
    }
    .quote,
    .quote2 {
        z-index: 1;
        margin: 1.5rem 0;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.2rem;
        font-weight: 100;
        width: 100%;
        font-family: $font__secondary;
        font-style: italic;
        padding: 0 0.5rem;
        @include media($desktop-width) {
            font-size: 2rem;
            line-height: 2.75rem;
        }
    }
    .quotation-left,
    .quotation-left2 {
        background: url('../../images/icon/quotation.svg')no-repeat center;
        background-size: 250%;
        height: 36px;
        width: 50px;
        position: absolute;
        @include media ($desktop-width) {
            height: 50px;
            width: 75px;
        }
    }
    .quotation-left {
        top: 10px;
        left: 10px;
        @include media( $desktop-width ) {
            top: 0;
            left: -15px;
        }
    }
    .quotation-left2 {
        top: 10px;
        left: 10px;
        @include media($desktop-width) {
            top: 0;
            left: 0;
        }
    }
    .quotation-right,
    .quotation-right2 {
        background: url('../../images/icon/quotation.svg')no-repeat center;
        background-size: 250%;
        height: 36px;
        width: 50px;
        transform: rotate(180deg);
        position: absolute;
        @include media ($desktop-width) {
            height: 50px;
            width: 75px;
        }
    }
    .quotation-right {
        bottom: 10px;
        right: 10px;
        @include media($desktop-width) {
            bottom: 20px;
            right: -15px;
        }
    }
    .quotation-right2 {
        bottom: 17px;
        right: 12px;
        @include media($desktop-width) {
            bottom: 0;
            right: 0;
        }
    }
    .robert {
        margin: 0 auto;
        text-align: center;
        @include media($desktop-width) {
            margin: 2rem auto;
            font-size: 30px;
        }

        h4, p {
            font-family: $font__main;
        }
    }
    h4 {
        font-size: 20px;
        font-weight: $font__bold;
        margin: 0 auto;
        @include media($desktop-width) {
            margin: 10px;
            font-size: 25px;
        }
    }
    .position {
        font-style: italic;
        font-weight: $font__semibold;
        margin: 0;
        font-size: 20px;
    }
    .arrow {
        transform: rotate(90deg);
    }
    .rent {
        margin: 0;
        .rent-title {
            margin: 0;
        }
    }
    .mission-text {
        // margin: 0 auto;
        font-size: 16px;
        font-family: $font__secondary;
        width: 80%;
        margin: 20px auto;
        @include media($desktop-width) {
            width: 96%;
            margin-bottom: 0;
        }
    }
    .mission-content {
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 3rem;
        .arrow {
            margin-bottom: 10px;
        }
        @include media($desktop-width) {
            display: flex;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            .arrow {
                margin-top: 50px;
                height: 50px;
                transform: rotate(0deg);
            }
        }
        .mission-image {
            width: 100%;
            margin: 0 auto;
            @include flex-column(nowrap,
            flex-start,
            center);
            @include media($desktop-width) {
                width: 25%;
            }
            img {
                width: 100%;
                height: 180px;
            }
            h5 {
                font-family: $font__secondary;
                font-weight: $font__bold;
                font-size: 20px;
                text-transform: uppercase;
                width: 100%;
                margin-top: 5px;
            }
        }
        p {
            margin: 0 auto;
            font-size: 1.2rem;
        }
    }
    .formula-p {
        font-family: $font__secondary;
        max-width: 650px;
        margin: auto;
        margin-bottom: 50px;
        @include media(1200px) {
            max-width: 860px;
        }
    }
    .formula-text1,
    .formula-text2 {
        margin: 2.5rem auto;
        font-size: $font__mobile-size;
        font-weight: 100;
        @include media($desktop-width) {
            font-size: $font__desktop-size;
        }
    }
    .formula-carousel {
        font-family: $font__secondary;
        @include media($desktop-width) {
            padding-left: 20px;
        }
        .flickity-prev-next-button {
            display: none;
        }
    }
    @include ourStory-carousel {
        .formula-text {
            width: 85%;
            font-size: 14px;
            line-height: 15px;
            @include media($desktop-width) {
                display: none;
            }
        }
    }
    h5 {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .end-content {
        margin-bottom: 100px;
    }
    .end-content-quote {
        max-width: 1500px;
        margin: 0 auto;
    }
}
