.page-id-252{
    height: 100%;
    width: 100%;
    @include media($desktop-width) {
        font-size: $font__desktop-size;
        line-height: $line-height-desktop;
    }

    .entry-title {
        display: none;
    }

    .banner-text {
        @include page-title;
        margin: 0 auto;
        line-height: 4rem;
        @include media ($desktop-width){
            margin: 0 auto;
            max-width: 900px;
            width: 100%;
            min-width: 600px;
            font-size: 4.5rem;
            line-height: 5rem;
        }
    }

    .thankyou-container {
        text-align: center;
        margin: 2rem auto;

        .logo {
            margin: 1rem 0.5rem;
        }
    }
    .top-message {
        line-height: 1;
    }
    .thanks {
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0;
        @include media($desktop-width){
            font-size: 4rem;
        }
    }
    .text {
            font-size: 1.8rem;
            margin: 0;
        }

    .bottom-message {
        margin: 5rem 0.5rem;
    }
    .bottom-text {
        font-size: 1.3rem;
        line-height: 1;
        font-weight: 100;
        span{
            text-transform: uppercase;
        }
    }
}