/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $line-height-body;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

/* Copy */

p {
	margin-bottom: $base__space-unit;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $base__space-unit;
}

address {
	margin: 0 0 $base__space-unit;
}

big {
	font-size: 125%;
}
