// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #4A4A4A;
$color__header-main:#323232;

$color__brand-blue: #D9F1FF;


$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__social-icon: #000000;

$color__menu-hoever: #00A4FF;
$color__menu-active: #935E32;

// Image filter


// Typography

$font__main: sans-serif;
$font__desktop-size: 1.4rem;

$line-height-body: 1.4rem;
$line-height-desktop: 1.75rem;

// Media query screen widths

$desktop-width: 600px;
$footer__desktop-width: 900px;