// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #4A4A4A;
$color__header-main:#323232;

$color__brand-blue: #D9F1FF;


$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__social-icon: #000000;

$color__menu-hover: #00A4FF;
$color__menu-active: #935E32;

// Image filter


// Typography

$font__main: roboto_slab, serif;
$font__secondary: asap, sans-serif;

$font__bold: 700;
$font__semibold: 600;
$font__light: 300;
$font__normal: 400;

$font__mobile-size: 1.2rem;
$font__desktop-size: 1.5rem;

$line-height-body: 1.75rem;
$line-height-desktop: 1.75rem;
$line-height-intro: 2.5rem;
$line-height-quotes: 2.2rem;

// Media query screen widths

$desktop-width: 760px;
$footer__desktop-width: 900px;
